<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>

    <center>

   <!-- <form action="http://127.0.0.1:5000/hello/name">
    <input type="submit" value="Classes" /> -->
    </form>

    <img src="../static/images/map.png" alt="Test Image" />




<form action="{{ url_for('datainput') }}" method="POST">
        <input type="data" name="Data">
        <input type="data", value="Search", class="go_button">
    </form>






<form>
        <input type="submit", value='datainput', class="go_button">
    </form>






    </center>



</html>