<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<body>

<div class="container">


<header>
   <h1>UVM Class Map</h1>
</header>

<nav>
  <ul>

     <form action="http://127.0.0.1:5000/hello/name">
    <input class='button' type="submit" value="Classes" />
    </form>

    <h1>Enter some text</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="/" method="POST">
        <input class="search" type="text" name="text">
        <input class="button" type="submit" name="my-form" value="Search">
    </form>

      </ul>
</nav>

      <img src="static/images/map.png" alt="Test Image" />
    <footer></footer>

</div>
</body>
</html>